@charset "utf-8";
/*----------------------------------------------------
 * 
 * detail.css
 *
----------------------------------------------------*/
section.contents .container-fluid{
	max-width: 1280px;
	padding: 16px;
	margin: 0;
}
.contents .container-fluid h3{
	position: relative;
	padding-left: 8px;
	margin-bottom: 16px;
	font-size: 20px;
}
.contents .container-fluid h3:before{
	content: "";
	width: 4px;
	height: 24px;
	background-color: #2E7FC4;
	position: absolute;
	top: 0;
	left: 0;
}
.contents .container-fluid section h3{
	margin-bottom: 8px;
}

/*----------------------------------------------------
 detail
----------------------------------------------------*/
section.detail{
	max-width: 768px;
	margin-bottom: 24px;
}
section.detail .row{
	font-size: 0;
}
section.detail [class^="col-"]{
	padding: 3px;
}
section.detail .row .btnArea{
	text-align: right;
}
section.detail .row .btnArea button{
	width: 136px;
}
section.detail .row:nth-child(odd){
	background-color: #F6F6F6;
}
section.detail .row label{
	width: 120px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	vertical-align: top;
	background-color: #0092C4;
	color: #FFF;
}
section.detail .row .viewBox{
	display: inline-block;
	width: calc(100% - 132px);
	padding-top: 4px;
	margin:0 4px;
	font-size: 13px;
}
section.detail .row .freeViewBox{
	display: inline-block;
	margin: 0 8px;
	font-size: 13px;
}
section.detail .row .fullViewBox{
	display: inline-block;
	width: 100%;
	margin:0 2px;
	font-size: 13px;
}

section.detail .row input,
section.detail .row select{
	width: 100%;
	max-width: 120px;
}
section.detail .row textarea{
	width: calc(100% - 124px);
}
section.detail .row .notes{
	margin-left: 4px;
	font-size: 12px;
	color: #666;
	vertical-align: middle;
}
section.detail .textLink{
	margin-top: 24px;
}
section.detail .textLink a{
	font-size: 14px;
	color: #0058A2;
	text-decoration: underline;
	cursor: pointer;
}
section.detail .textLink a:hover{
	color: #2E7FC4;
	text-decoration: underline;
}
/*----------------------------------------------------
 btnArea
----------------------------------------------------*/
section.btnArea{
	max-width: 768px;
	margin: 0 0 24px;
	text-align: center;
}
section.btnArea button.btn{
	padding: 8px 0;
	margin: 0 8px;
	font-size: 16px;
	font-weight: 500;
}
section.btnArea button.btn{
	width: 240px;
}
section.btnArea button.backBtn{
	width: 96px;
}

/*----------------------------------------------------
 table
----------------------------------------------------*/
table.table{
	table-layout: fixed;
	min-width: 480px;
	margin: 0;
}
table.table td{
	border: 1px solid #BEBEBE;
	padding: 2px 3px;
	height: 30px;
	vertical-align: middle;
}
table.table thead td{
	background-color: #E3EEF7;
	height: 26px;
	font-weight: 500;
	text-align: center;
}
table.table tbody tr:nth-child(even){
	background-color: #F6F6F6;
}
section.message table.table thead td:last-child{
	width: 55%;
}
/*---------- pagination ----------*/
.paginationArea{
	margin-bottom: 4px;
}
.pagination > li > a,
.pagination > li > span{
	display: inline-block;
	width: 24px;
	padding: 4px 0;
	margin-left: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	background-color: #DDE1E3;
	border: 1px solid #DDE1E3;
	border-radius: 3px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span{
	border-radius: 3px;
}
.pagination li:first-child a{
	background-color: #FFF;
	width: auto;
	padding: 0 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	border: none;
}
.pagination>li:nth-child(n+2)>a:hover,
.pagination>li>span:hover{
	color: #FFF;
	background-color: #90A4AD;
	border: 1px solid #90A4AD;
}
.pagination li:nth-child(2) a{
	background-color: #90A4AD;
	border: 1px solid #90A4AD;	
}
