.btn-regist {
	width: 120px;
    background: #3399FF;
    color: black;
    border: 1px solid #7C7C7C !important;
    border-radius: 1px !important;
    padding: 6px 12px !important;
}

.btn-detail {
	background: #92D050 !important;
	border: 1px solid #7C7C7C !important;
    border-radius: 1px !important;
    padding: 6px 12px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}

div{
	clear:none !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #337ab7 !important;
    cursor: default;
    background-color: #f2f2f2 !important;
    border-color: #ddd !important;
    border-radius: 0px !important; 
    
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
     border-radius: 0px !important; 
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0px !important; 
}

.pagination>li>a, .pagination>li>span {
    position: static !important; 
    padding: 6px 12px !important;
}
