@charset "utf-8";
/*----------------------------------------------------
 * 入力
 * input.css
 *
----------------------------------------------------*/
section.contents .container-fluid{
	max-width: 768px;
	padding: 16px;
	margin: 0;
}
.contents .container-fluid h3{
	position: relative;
	padding-left: 8px;
	margin-bottom: 16px;
	font-size: 20px;
}
.contents .container-fluid h3:before{
	content: "";
	width: 4px;
	height: 24px;
	background-color: #2E7FC4;
	position: absolute;
	top: 0;
	left: 0;
}
.contents .container-fluid section h3{
	margin-bottom: 8px;
}
.contents .container-fluid .workSign{
	float: right;
	margin-top: -40px;
	text-align: center;
}
.contents .container-fluid .workSign p{
	background-color: #FFCC00;
	width: 136px;
	padding: 8px 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
}

/*----------------------------------------------------
 attendanceBtnArea
----------------------------------------------------*/
.attendanceBtnArea{
	font-size: 0;
}
.attendanceBtnArea .attendanceBtn{
	width: 104px;
	height: 84px;
	padding-top: 50px;
	margin: 0 16px 16px 0;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: center 8px;
	border: 0;
	border-bottom: 4px solid;
}
.attendanceBtnArea .btn.arrivalBtn{
	background-image: url("../img/arrival.png");
	border-color: #003662;
}
.attendanceBtnArea .btn.halfwayExitBtn{
	background-image: url("../img/leave_work.png");
	border-color: #E3930B;
}
.attendanceBtnArea .btn.returnBtn{
	background-image: url("../img/return.png");
	border-color: #11773F;
}
.attendanceBtnArea .btn.leaveWorkBtn{
	background-image: url("../img/leave_work.png");
	border-color: #DE1423;
}

/*----------------------------------------------------
 workInputArea
----------------------------------------------------*/
.workInputArea{
	margin-bottom: 24px;
}
.workInputArea .row{
	font-size: 0;
}
.workInputArea [class^="col-"]{
	padding: 3px;
}
.workInputArea .row:nth-child(odd){
	background-color: #F6F6F6;
}
.workInputArea .row label{
	width: 112px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	vertical-align: top;
	background-color: #0092C4;
	color: #FFF;
}
.workInputArea .row .viewBox{
	display: inline-block;
	margin:0 4px;
	font-size: 13px;
}
.workInputArea .row input{
	width: 100%;
	max-width: 120px;
}
.workInputArea .row .wrap{
	display: inline-block;
}
.workInputArea .row .wrap.right{
	margin-left: 4px;
}
/*----------------------------------------------------
 operatingTime
----------------------------------------------------*/
.operatingTime{
	margin-bottom: 24px;
}
.operatingTime table{
	margin-bottom: 4px;
}
.operatingTime table td{
	padding: 3px;
}
.operatingTime table td:first-child{
	min-width: 144px;
}
.operatingTime table td:last-child{
	padding: 0 8px 0 3px;
	vertical-align: middle;
}
.operatingTime table td input{
	width: 96px;
}
.operatingTime table td p{
	font-size: 11px;
	color: #666;
}
.operatingTime table td a.deleteBtn{
	font-size: 16px;
	color: #7F7F7F;
	cursor: pointer;
}
.operatingTime table tr:nth-child(odd){
	background-color: #F6F6F6;
}

.operatingTime a.addBusinessTalk{
	font-size: 14px;
	color: #0058A2;
	text-decoration: underline;
	cursor: pointer;
}
.operatingTime a.addBusinessTalk:hover{
	color: #2E7FC4;
	text-decoration: underline;
}
/*----------------------------------------------------
 businessReport
----------------------------------------------------*/
.businessReport{
	margin-bottom: 24px;
}
.businessReport [class^="col-"]{
	padding: 3px;
}
.businessReport .row:nth-child(even){
	background-color: #F6F6F6;
}
.businessReport .row{
	font-size: 0;
}
.businessReport .row label{
	width: 120px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	vertical-align: top;
	background-color: #0092C4;
	color: #FFF;
}
.businessReport .row textarea{
	width: calc(100% - 124px);
}
.businessReport .row .annotation{
	margin: 0 0 0 128px;
	font-size: 13px;
	color: #666;
}

.businessReport table.reportDestination{
	margin: 8px 0 4px;
}
.businessReport table td{
	padding: 3px;
}
.businessReport table.reportDestination td label{
	width: 120px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	background-color: #0092C4;
	color: #FFF;
}
.businessReport table.reportDestination td:last-child{
	padding: 0 8px 0 3px;
	vertical-align: middle;
}
.businessReport table.reportDestination td a.deleteBtn{
	font-size: 16px;
	color: #7F7F7F;
	cursor: pointer;
}
.businessReport table.reportDestination tr:nth-child(odd){
	background-color: #F6F6F6;
}
.businessReport a.addReportDestination{
	font-size: 14px;
	color: #0058A2;
	text-decoration: underline;
	cursor: pointer;
}
.businessReport a.addReportDestination:hover{
	color: #2E7FC4;
	text-decoration: underline;
}
/*----------------------------------------------------
 btnArea
----------------------------------------------------*/
.btnArea{
	margin: 0 0 16px;
	text-align: center;
}
.btnArea button.btn{
	padding: 8px 0;
	margin: 0 8px 8px;
	font-size: 16px;
	font-weight: 500;
}
.btnArea button.reportBtn{
	width: 240px;
}
.btnArea button.savedBtn{
	width: 104px;
}
