.w3-sidebar { 
  z-index: 3;
  top: 47px;
  bottom: 0;
  height: inherit;
}


.sidebar {
	background: #F3F3F3;
	border-right: 1px solid #E4E4E4;
	width: 200px;
	z-index: 2;
	position: fixed;
	float: left;
	
	height: 100%;
}

.sidebar .user-panel {
	font-size: 14px;
	padding: 20px 10px 10px 10px;
}

.sidebar .sidebar-form {
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar .sidebar-menu {
	padding: 0;
	padding-top: 15px;
	margin: 0;
	overflow-y: auto;
}

.sidebar .sidebar-menu li {
	border-top: 1px solid #E4E4E4;
	list-style: none;
	margin: 0 15px;
}

.sidebar .sidebar-menu li input {
	border-top: 1px solid #E4E4E4;
	list-style: none;
	margin: 10px;
	width: 160px;
	font-weight: bold;
}

.sidebar .sidebar-menu li input::-webkit-input-placeholder {
	font-size: 10px;
}

.sidebar .sidebar-menu li input::-moz-input-placeholder {
	font-size: 10px;
}

.sidebar .sidebar-menu li input:-ms-input-placeholder {
	font-size: 10px;
}

.sidebar .sidebar-menu li a {
	border-top: 1px solid #FFFFFF;
	color: #555555;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	word-break: break-all;
	width: 100%;
	min-height: 50px;
	/* line-height: 50px; */
	/* margin-left: 10px; */
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
	display: -webkit-flex;
	display: flex;
	flex-direction:row;
	-webkit-align-items: center;
	align-items: center;
	flex: 1 0 auto;
}
@media all and (-ms-high-contrast:none) {  
	*::-ms-backdrop, .sidebar .sidebar-menu li a {  
		padding-top:10px;
		padding-bottom:10px;
	}  
} 

.sidebar .sidebar-menu li a:hover {
	cursor: pointer;
	background: #dad8dc;
}

.sidebar .sidebar-menu li a:active {
	cursor: pointer;
	outline: solid 1pt #948EAC;
}
