@charset "utf-8";
/*----------------------------------------------------
 * 一覧
 * list.css
 *
----------------------------------------------------*/
section.contents .container-fluid{
	max-width: 1280px;
	padding: 16px;
	margin: 0;
}
.contents .container-fluid h3{
	position: relative;
	padding-left: 8px;
	margin-bottom: 16px;
	font-size: 20px;
}
.contents .container-fluid h3:before{
	content: "";
	width: 4px;
	height: 24px;
	background-color: #2E7FC4;
	position: absolute;
	top: 0;
	left: 0;
}
.contents .container-fluid section h3{
	margin-bottom: 0px;
}

/*---------- section ----------*/
.contents section{
	margin-bottom: 24px;
}
.contents section .row{
	font-size: 0;
}
.contents section .row [class^="col-"]{
	padding: 0;
}
.contents section .row .checkboxArea{
	padding-top: 8px;
}
.contents section .row .checkboxArea label{
	margin-right: 16px;
	font-size: 14px;
	font-weight: 500;
	color: #0058A2;
}
.contents section .row .checkboxArea input{
	width: 14px;
	margin-left: 4px;
}
.contents section .row .buttonArea{
	margin-bottom: 8px;
	text-align: right;
}
.contents section .row .buttonArea .btn{
	width: 200px;
}

/*---------- table ----------*/
table.table{
	table-layout: fixed;
	min-width: 480px;
	margin: 0;
}
table.table td{
	border: 1px solid #BEBEBE;
	padding: 2px 3px;
	height: 30px;
	vertical-align: middle;
}
table.table thead td{
	background-color: #E3EEF7;
	height: 26px;
	font-weight: 500;
	text-align: center;
}
table.table thead td:first-child{
	width: 184px;
}
table.table tbody tr:nth-child(even){
	background-color: #F6F6F6;
}
table.table thead td.btnTd{
	width: 70px;
}
table.table tbody td a.btn{
	width: 64px;
	color: #FFF;
}
table.table tbody td a.btn:hover{
	color: #FFF;
}

/*---------- a.allList ----------*/
.contents section a.allList{
	font-size: 14px;
	color: #0058A2;
	text-decoration: underline;
	cursor: pointer;
}
.contents section a.allList:hover{
	color: #2E7FC4;
	text-decoration: underline;
}
/*----------------------------------------------------
 attendanceTotal
----------------------------------------------------*/
.attendanceTotal .subjectMonth{
	width: 136px;
	margin-bottom: 4px;
}
.attendanceTotal .text-right{
	text-align: right;
}
.attendanceTotal .fileWrap{
	display: inline-block;
	padding:8px 12px 0px;
	margin: -40px 0 8px;
	font-size: 14px;
	border: 1px solid #7F7F7F;
	border-radius: 3px;
}
.attendanceTotal .fileWrap a{
	display: block;
	margin-bottom: 6px;
	text-align: left;
	color: #0058A2;
	cursor: pointer;
}
.attendanceTotal .fileWrap a:hover{
	color: #2E7FC4;
	text-decoration: underline;
}
.attendanceTotal table.table{
	width: 80%;
}
.attendanceTotal table thead td:first-child{
	width: auto;
}
.attendanceTotal table thead td:nth-child(4){
	width: 40%;
}

/*----------------------------------------------------
 * 日報 & メッセージ
----------------------------------------------------*/
section.searchArea{
	margin-bottom: 8px;
}
section.searchArea .row .searchItem{
	padding: 0 8px 0 0;
	margin-bottom: 8px;
}
section.searchArea .row > div .inputBox{
	display: inline-block;
	width: calc(100% - 124px);
}
section.searchArea .row > div input[type="text"],
section.searchArea .row > div select{
	width: 100%;
}
section.searchArea .row label{
	width: 120px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	vertical-align: top;
	background-color: #0092C4;
	color: #FFF;
}

section.searchArea .row .searchBtnArea{
	padding: 0 8px 0 0;
	margin-bottom: 8px;
	text-align: right;
}
section.searchArea .row .searchBtnArea .btn.searchBtn{
	width: 120px;
}
section.searchArea .row .searchBtnArea .btn.newMessageBtn{
	padding: 4px 8px;
}

/*---------- pagination ----------*/
.paginationArea{
	margin-bottom: 4px;
}
.pagination > li > a,
.pagination > li > span{
	display: inline-block;
	width: 24px;
	padding: 4px 0;
	margin-left: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	background-color: #DDE1E3;
	border: 1px solid #DDE1E3;
	border-radius: 3px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span{
	border-radius: 3px;
}
.pagination li:first-child a{
	background-color: #FFF;
	width: auto;
	padding: 0 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	border: none;
}
.pagination>li:nth-child(n+2)>a:hover,
.pagination>li>span:hover{
	color: #FFF;
	background-color: #90A4AD;
	border: 1px solid #90A4AD;
}
.pagination li:nth-child(2) a{
	background-color: #90A4AD;
	border: 1px solid #90A4AD;	
}
