@charset "utf-8";
/*----------------------------------------------------
 * ログイン
 * login.css
 *
----------------------------------------------------*/
main section.contents{
	padding:0;
}
main .logo{
	text-align: center;
	margin: 72px auto 32px;
}
main .loginPanel{
	box-sizing: border-box;
	max-width: 448px;
	padding: 16px 24px 24px;
	border: 1px solid #BEBEBE;
	background-color: #F3F7FB;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	border-radius: 3px;
}
main .loginPanel h3{
	padding: 0 0 16px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #BEBEBE;
}
main .loginPanel .errerMessage{
	padding-top: 4px;
	font-size: 16px;
	color: red;
	text-align: center;
}
main .loginPanel .panelBody{
	padding: 24px 24px 8px;
}
.panelBody .row.input{
	width: 100%;
	margin-bottom: 16px;
}
.panelBody .row.input input{
	width: 100%;
	height: 32px;
}
.panelBody .row.checkbox{
	width: 100%;
	margin-bottom: 24px;
	text-align: center;
}
.panelBody .row.checkbox label{
	margin: auto;
}
.panelBody .btnArea{
	width: 100%;
	text-align: center;
}
.panelBody .btnArea a.btn{
	width: 200px;
	padding: 8px 0;
}


/*ststs*/