/*Added for new cleaning project*/
.btn-return{
	background-color: #91a3ae;
}
.btn-lime{
	background-color: #BED004;
}
.btn-teal{
	background-color: #36BC9B;
}
.btn-red{
	background-color: #F85866;
}
.btn-orange{
	background-color: #F4BC41;
}
.links{
	color: #337ab7 !important;
	text-decoration: underline !important;
}
.links:focus{
	outline: none !important;
	outline-color:transparent !important;
}
label{
	padding: 5px;
}
.label{
	color: #FFF; 
	background-color: #0092C4;
}
.label-long{
    width: 120px;
}
.no-padding{
	padding:0px;
}
.form-lable{
	border:none;
	border-width: 0;
	box-shadow:none;
	width: 50%;
}
.form-lable:focus{
	outline-color: transparent;
}
.form-long{
	width:390px !important;
	max-width: 390px !important;
}
.form-md{
	width:250px !important;
	max-width: 250px !important;
}
.form-sm{
	width:90px !important;
	max-width: 90px !important;
}
.form-smd{
	width:150px !important;
	max-width: 150px !important;
}
.form-block{
	width: 100% !important;
	width: 100% !important;
}
table thead{
	background: #dde1e3;
}
th{
	border:1px solid #555 !important;
}
td{
	border:1px solid #555 !important;
}

