@charset "utf-8";
/*----------------------------------------------------
 * 
 * modal.css
 *
----------------------------------------------------*/
.modal h5.modal-title{
	position: relative;
	padding-left: 8px;
	font-size: 20px;
	line-height: 24px;
}
.modal h5.modal-title:before{
	content: "";
	width: 4px;
	height: 24px;
	background-color: #2E7FC4;
	position: absolute;
	top: 0;
	left: 0;
}

/*---------- searchArea ----------*/
.modal section.searchArea{
	margin-bottom: 8px;
}
.modal section.searchArea .row [class^="col-"]{
	padding: 0;
}
.modal section.searchArea .row .searchItem{
	padding: 0 8px 0 0;
	margin-bottom: 8px;
}
.modal section.searchArea .row > div .inputBox{
	display: inline-block;
	width: calc(100% - 124px);
}
.modal section.searchArea .row > div input[type="text"],
.modal section.searchArea .row > div select{
	width: 100%;
}
.modal section.searchArea .row label{
	width: 120px;
	min-height: 24px;
	padding: 3px 2px 0 4px;
	margin: 0 4px 0 0;
	font-size: 13px;
	font-weight: 500;
	vertical-align: top;
	background-color: #0092C4;
	color: #FFF;
}

.modal section.searchArea .row .searchBtnArea{
	padding: 0 8px 0 0;
	margin-bottom: 8px;
	text-align: right;
}
.modal section.searchArea .row .searchBtnArea .btn.searchBtn{
	width: 120px;
}
.modal section.searchArea .row .searchBtnArea .btn.newMessageBtn{
	padding: 4px 8px;
}

/*---------- table ----------*/
.modal table.table{
	table-layout: fixed;
	min-width: 480px;
	margin: 0;
}
.modal table.table td{
	border: 1px solid #BEBEBE;
	padding: 2px 3px;
	height: 30px;
	vertical-align: middle;
}
.modal table.table thead td{
	background-color: #E3EEF7;
	height: 26px;
	font-weight: 500;
	text-align: center;
}
.modal table.table tbody tr:nth-child(even){
	background-color: #F6F6F6;
}
.modal table.table thead td.btnTd{
	width: 70px;
}
.modal table.table tbody td a.btn{
	width: 64px;
	color: #FFF;
}
.modal table.table tbody td a.btn:hover{
	color: #FFF;
}

/*---------- pagination ----------*/
.paginationArea{
	margin-bottom: 4px;
}
.pagination > li > a,
.pagination > li > span{
	display: inline-block;
	width: 24px;
	padding: 4px 0;
	margin-left: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	background-color: #DDE1E3;
	border: 1px solid #DDE1E3;
	border-radius: 3px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span{
	border-radius: 3px;
}
.pagination li:first-child a{
	background-color: #FFF;
	width: auto;
	padding: 0 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	border: none;
}
.pagination>li:nth-child(n+2)>a:hover,
.pagination>li>span:hover{
	color: #FFF;
	background-color: #90A4AD;
	border: 1px solid #90A4AD;
}
.pagination li:nth-child(2) a{
	background-color: #90A4AD;
	border: 1px solid #90A4AD;	
}
