@charset "utf-8";
/*----------------------------------------------------
 *
 * responsive.css
 *
----------------------------------------------------*/
@media screen and (max-width: 768px){

header button.menuBtn{
	display: block;
}

main .sidebar{
	display:none;
	border-right: 0;
	border-bottom: 1px solid #90a4ad;
	width: 100%;
	height: auto;
}

main section.contents{
	padding: 40px 0 0 0;
}

main section.contents .container-fluid{
	padding: 16px 8px;
}

}/*END*/

@media screen and (max-width: 500px){

main .workInputArea .row .wrap.right,
main section.detail .row .wrap.right{
	margin: 4px 0 0 116px;
}
main .pickerWrap .input-group input.form-control{
	max-width: 120px;
}
main .pickerWrap .input-group.timepicker input.form-control{
	max-width: 96px;
}
main .operatingTime table td:first-child {
	min-width: initial;
}


/* list */
.contents section.attendanceTotal{
	margin-top: 40px;
}

/* detail */
main section.detail .row .notes{
	display: block;
}

}/*END*/