@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#container .fixed-header {
	position: fixed;
	width: 100%;
	background-color: rgb(84, 102, 114);
	height: 48px;
	color: #FFFFFF;
	z-index: 999 !important;
}
#content {
	padding-top: 70px !important;
}
.fixed-header .logo {
	padding: 15px 40px;
	font-size: 18px;
}
.fixed-header .top-username {
	position: absolute;
	top: 10px;
	right: 10px;
	
}
.fixed-header .text {
	font-size: 20px;
	color: #FFFFFF;
}
.fixed-header .top-username span {
	font-size: 18px;
	padding-left: 5px;
}
.matter-list-link {
	text-decoration: underline !important;
	font-size: 20px !important;
	color: red !important;
}

.matter-list-link button {
	/*font-size: 14px;
	color: #000;
	padding: 4px 12px;*/
	background-color: #EFEFEF;
	margin-bottom: 25px;
}

input[type="checkbox"], input[type="radio"]{
	position: absolute;
	/*right: 9000px;*/
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

/*FORM*/
form div {
	/*padding: 0.3em 0em !important;*/
}
input, textarea, select {
	display: inline-block;
}
#list-matter select {
	width: 5em;
	display: inline-block;
}
.contentRow {
    margin: 15px;
}
.contentRow textarea {
	width: 400px;
	display: inline-block;
}
.renderElement {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.renderElement label {
    min-width: 75px;
    line-height: 17px;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: 26px;
    font-size: 14px;
    padding: 0px 3px;
}
.matter-text, .contentRow .textarea label {
	width: 220px;
	display: inline-block;
	vertical-align: top;
}
#notify_user_id_1, #notify_user_id_2, #notify_user_id_3, #notify_user_id_4, #notify_user_id_5 {
	width: 10em;
	display: inline-block;
}

.contentRow .notify-user {
	display: inline-block;
	width: 220px;
}

.contentRow .other-comment {
	padding-left: 220px;
	font-weight: bold;
}


.table-render button {
    border: 1px solid #7C7C7C;
    border-radius: 2px;
    padding: 6px 12px;
}
.linkMark.tableBtnMark {
    top: -14px;
}
.linkMark {
    font-size: 12px;
    color: #337ab7;
    position: relative;
    top: -6px;
    right: 2px;
}

.no-width {
	width: auto !important;
}

.table-scrollable {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid #ddd;
	margin-bottom: 10px !important;
}

.table-scrollable table {
	margin-bottom: 0;
}

.table-scrollable table td {
	white-space: nowrap;
}

table.inner-list tr td {
	padding: 0;
	border-bottom: 0;
}

table.inner-list tr:nth-child(even) {
	background: none;
}