<span id="ajax-url-base-path" style="display:none;">../Applications/</span>
<?php echo $this->assign('title', $title); ?>
<h3><b><?php echo $title ?></b></h3>

<?php echo $this->Form->create(null, [ "name" => "list_form" ]); ?>

<div class="page-container">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				
				<div class="col-sm-12">
				
					
						<div class="contentRow">

		                  <div class="col-md-12 no-padding">
		           			<br> <br> 
							<div class="row">
								<div class="col-sm-4 mb-2 no-padding ">
									<label class="label">仕上り予定日</label>
									<div class="pickerWrap">
										<div class="input-group date datepicker" id="datepicker2" data-target-input="nearest">
										    <?php echo $this->Form->input('', array('div' => false,'label' => false, 'class'=>'form-control datetimepicker-input', 'type' => 'text','default'=>  date('Y/m/d') )); ?>
											<div class="input-group-append" data-target="#datepicker2" data-toggle="datetimepicker">
												<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>

											</div>
										</div>
									</div>

								</div>
								<div class="col-sm-5 mb-2 no-padding">
									<label class="label">店舗/個人名</label>
									<?= $this->form->input('', array('class' => '' , 'label' => false,'div' => false)); ?>
		                    	</div>
		                    	<div class="col-sm-3 no-padding">
		                    		<?= $this->form->button('検索', array('class' => 'btn btn-info', 'style' => 'width:90px;')) ?>
		                    	</div>
								<div class="col-sm-8 no-padding">
									<div class="mt-2">
										<label class="label">店舗/個人名</label>
										140,000
									
									</div>
								</div>
						    </div>
		               	</div>
		            	
					</div>
				</div>
				<div class="col-sm-9" style="padding: 0px;">
				<div class="col-sm-3"></div>
				<div class="col-sm-12 no-padding mt-2">
					<ul class="pagination ">
									<li><a>全99件｜1〜99件表示｜</a></li>
									<li><a href="">1</a></li>
									<li><a href="">2</a></li>
									<li><a href="">3</a></li>
									<li><a href="">4</a></li>
									<li><a href="">5</a></li>
								</ul>
				</div>
					<div class="col-sm-10 ">
							<section class="attendanceDetail">
								
								<br>
	                    	<div class="table">
								<table class="table table-bordered table-striped table-sm">
									<thead style="background: #dde1e3; ">
										<tr>
											<th>店舗/個人名</th>
											<th>支払方法</th>
											<th>入金日</th>
											<th>入金額</th>
										</tr>
									</thead>

									<tbody>
										<?php for ($i=0; $i < 10; $i++) { ?>
											<tr>
												<td>REEKS</td>
												<td>現金</td>
												<td>2019/04/28</td>
												<td>2</td>
											</tr>
										<?php  }?>
									</tbody>

								</table>
							</div>
						</section>
					</div>
					<div class="col-sm-2"></div>
				</div>
				</div>
			</div>	
		
			<!-- END PAGE CONTENT-->
	</div>

	


